{% extends 'base.html' %}

{% block content %}

{% load crispy_forms_tags %}

<div class="container-fluid pt-6">
    <div class="card border-0">
        <!-- Check for image and load placeholder if not present -->
        {% if "placeholder" in event.featured_image.url %}
            <img class="card-img-top event-details-image-card" 
            src="https://res.cloudinary.com/dqesdpfj5/image/upload/v1687399354/john-cameron-WOT8JOjncHk-unsplash_z0ve8c.jpg" 
            alt="Card image cap">
        {% else %}
            <img src=" {{ event.featured_image.url }}" alt="User submitted image for a litter pick event" width="100%">
        {% endif %}
        <!-- Card for Event Details -->
        <div class="card-body">
            <h1 class="card-title">{{ event.title }}</h1>
            {% if user.is_authenticated %}
                {% if user.id == event.organiser.id %}
                <small><a href="{% url 'edit_event' event.id event.slug %}">Edit</a></small>
                <small><a href="{% url 'delete_event' event.id event.slug %}">Delete</a></small>
                {% endif %}
            {% endif %}
            <p class="card-text">{{ event.details | safe }}.</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><strong>Borough:</strong> {{ event.get_borough_display }}</li>
            <li class="list-group-item"><strong>Date:</strong> {{ event.date }}</li>
            <li class="list-group-item"><strong>Organiser:</strong> {{ event.organiser }}</li>
            <li class="list-group-item"><strong>Meeting Point:</strong> {{ event.meeting_point }}</li>
        </ul>
        <!-- User attending button -->
        <div class="card-body">
            <strong>
                {% if user.is_authenticated %}
                <form class="d-inline" action="{% url 'event_attending' event.slug %}" method="POST">
                    {% csrf_token %}
                    {% if attending %}
                    <button type="submit" name="event_id" value="{{event.slug}}" class="btn-attending"><i class="fa-solid fa-user-check"></i></button>
                    {% else %}
                    <button type="submit" name="event_id" value="{{event.slug}}" class="btn-not-attending"><i class="fa-regular fa-user"></i></button>
                    {% endif %}
                </form>
                {% else %}
                <span class="btn-attending"><i class="fa-regular fa-user"></i></span>
                {% endif %}
                <span class="text-secondary">{{ event.number_of_attendees }} Attending</span>
            </strong>
            {% with comments.count as total_comments %}
                <strong class="text-secondary"><i class="fa-solid fa-comments"></i>
                {{ total_comments }} Comments</strong>
            {% endwith %}
        </div>
        <hr>
    </div>
    <!-- Comments -->
    <div class="row">
        <div class="col-md-6">
            <h2 class="mt-3">Comments:</h2>
                <!-- Check if there are any comments -->
                {% if not event.comments.approved %}
                    No Comments Yet...
                {% else %}
                    {% for comment in event.comments.approved %}
                    <div class="comments" style="padding: 10px;">
                        <p class="font-weight-bold">
                        {{ comment.name }}
                        <span class="text-muted font-weight-normal">
                        {{ comment.created }}
                        </span> commented:
                        </p>
                        {{ comment.body | linebreaks }}
                    </div>
                    <hr>
                    {% endfor %}
                {% endif %}    
        </div>
        <!-- Comment form -->
        <div class="col-md-6">
            {% if commented %}
                <div class="alert alert-success" role="alert">
                    Your comment is awaiting approval
                </div>
            {% endif %}
            {% if user.is_authenticated %}
                <h2 class="mt-3">Leave a Comment:</h2>
                    <p>Posting as {{ user.username }}</p>
                    <form method="POST" style="margin-top: 1.3em;">
                        {% csrf_token %}
                        {{ comment_form | crispy }}
                        <button type="submit" class="btn btn-signup btn-lg">Comment</button>
                    </form>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}