{% extends "base.html" %}

{% block content %}

<div class="container text-center">
    <div class="row">
        <div class="col">
            <h1>Why Litter Pick?</h1>
        </div>
    </div>
</div>

<div class="container pt-5">
    <div class="row text-center">
        <div class="col-12 col-sm-6"><i class="fa-5x fa-solid fa-earth-europe"></i>
            <h2>Environment</h2>
            <p>A million pieces of litter are dropped in the UK every day.
                By picking up the litter, you are helping the environment 
                and making your home look and feel better
            </p>
        </div>
        <div class="col-12 col-sm-6"><i class="fa-5x fa-solid fa-heart"></i>
            <h2>Health</h2>
            <p>Litter picking is great for your health.  It gets you 
                outside walking, reaching and carrying and gives you 
                a reason to move.
            </p>
        </div>
        <div class="col-12 col-sm-6"><i class="fa-5x fa-solid fa-user-group"></i>
            <h2>Community</h2>
            <p>When people see you picking up litter, they talk to you.  By 
                attending organised events, you can meet up with other like-minded 
                people and make new connections.
            </p>
        </div>
        <div class="col-12 col-sm-6"><i class="fa-5x fa-solid fa-face-smile"></i>
            <h2>Mind</h2>
            <p>Litter picking has been shown to improve mental well-being.  
                As well as providing exercise, you get a great sense of 
                satisfaction and empowerment when you see the impact.
            </p>
        </div>
    </div>
</div>
{%endblock%}