{% extends "base.html" %}

{% block content %}

<div class="container text-center">
    <div class="row">
        <div class="col">
            <h1>Litter Pickers | London</h1>
        </div>
    </div>
</div>

<div class="container text-center">
    <div class="row">
        <div class="col">
            Why Litter Pick?
        </div>
    </div>
</div>

<div class="container text-center">
    <div class="row">
        <div class="col">
           <i class="fa-10x fa-solid fa-earth-europe"></i>
        </div>
        <div class="col">
            <h2>Environment</h2>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h2>Health</h2>
        </div>
        <div class="col">
            <i class="fa-10x fa-solid fa-heart"></i>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <i class="fa-10x fa-solid fa-face-smile"></i>
        </div>
        <div class="col">
            <h2>Mind</h2>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h2>Community</h2>
        </div>
        <div class="col">
            <i class="fa-10x fa-solid fa-user-group"></i>
        </div>
    </div>
  
</div>

{%endblock%}