{% extends "base.html" %}

{% block content %}



<div class="container text center mt-3">
    <div class="container text-center mt-3">
        <div class="row">
            <div class="col">
                <h1>About Us</h1>
            </div>
        </div>
    </div>
    <!-- Site information -->
    <div class="row">
        <div class="col-12 col-md-8 offset-md-2 p-2 border-rounded">
            <p class="justify">Litter Pickers London is an organisation dedicated to spreading 
                the word about Litter Picking in the Capital, encouraging 
                people to pick up a litter-picker or an empty bottle and help keep 
                the streets clean and tidy.
            </p>
            <p class="justify">
                By hosting a space for Litter Pickers across London to list their organised 
                Litter Picks and communicate with other, Litter Pickers London will bring people 
                across London together, with a simple aim... 
                to pick up litter wherever it is seen and Keep London Tidy.
            </p>
        </div>
    </div>
</div>
<!-- Reasons to Litter-Pick -->
<div class="container text-center mt-3">
    <div class="row">
        <div class="col">
            <h1>Why Litter Pick?</h1>
        </div>
    </div>
</div>
<div class="container mt-5">
    <div class="row text-center">
        <div class="col-12 col-sm-6"><i class="fa-5x fa-solid fa-earth-europe"></i>
            <h2>Environment</h2>
            <p class="justify">More than 2 million pieces of litter are dropped in the UK every day! 
                This litter clogs drains, harms wildlife and ultimately ends up in 
                our oceans.  And it costs over £1 billion a year in street cleaners.
            </p>
            <p class="justify">People are far more likely to drop litter where there is already
                litter on the ground, so by helping to clear it up, you can make a real difference 
                and hopefully inspire others. And it saves your taxes too!
            </p>
        </div>
        <div class="col-12 col-sm-6"><i class="fa-5x fa-solid fa-heart"></i>
            <h2>Health</h2>
            <p class="justify">Litter picking is great for your health.  It gets you 
                outside walking, reaching and carrying and gives you 
                a reason to move and divert from the most direct path. Your walks 
                become mission instead of strictly A to B journeys.
            </p>
            <p class="justify">If you are finding it hard to motivate 
                yourself, litter-picking can give you a purpose to get 
                out and walking, when you may otherwise wait for another 
                reason. You'll find new places on your doostep.
            </p>     
        </div>
        <div class="col-12 col-sm-6"><i class="fa-5x fa-solid fa-user-group"></i>
            <h2>Community</h2>
            <p class="justify">When you're out litter-picking, it won't be long 
                before someone strikes up a conversation, having seen you busily 
                clearing the streets. And taking part in organised litter-picks 
                will get you meeting a wide range of people of all ages.
            </p>
            <p class="justify">By doing something visible to improve your area, you 
                show others that there is an active community in their area, which can 
                help spread a sense of belonging.
            </p>
        </div>
        <div class="col-12 col-sm-6"><i class="fa-5x fa-solid fa-face-smile"></i>
            <h2>Mind</h2>
            <p class="justify">Litter picking has been recommended by Public Health England as a way 
                to improve mental well-being. It provides you with exercise, 
                long regarded as a way to boost mental health, and empowerment, as you 
                take positive action.
            </p>
            <p class="justify">But, while you are litter-picking, you are also focused on what 
                you are doing and can escape from the worries of life for a while. You are living the 
                present. And, of course, you get a great sense of satisfaction and empowerment 
                when you see the impact you've had.
            </p>
        </div>
    </div>
</div>

{%endblock%}